<h1>Signal</h1>

<h2>{{data}}</h2>

<div>
    <h2>{{data}}</h2>
    <div>
        <button (click)="incrementOnClickProperty('add')">increment</button>
        <button (click)="incrementOnClickProperty('minus')">decrement</button>
    </div>
</div>

<div>
    <h2>{{counter()}}</h2>
    <div>
        <button (click)="incrementOnClickSignal('add')">increment</button>
        <button (click)="incrementOnClickSignal('minus')">decrement</button>
    </div>
</div>
<hr>
<h2>{{test()}}</h2>

<button (click)="setData()">Set Data</button>

<h2>{{computed()}}</h2>

<h1>{{z()}}</h1>

<button (click)="updateValue()">Update Value</button>
<button (click)="updateXValue()">Update X Value</button>

<hr>

<h1>{{num()}}</h1>
<button (click)="num.set(num()+1)">increment</button><button (click)="num.set(num()-1)">decrement</button>


@if(displayHeading){
    <h1 style="background-color: aqua;">This is the hidden content</h1>
}