<ul>
  @for (x of teachers; track $index) {
  <li>
    <a routerLink="user/{{ x.id }}/{{x.name}}">{{ x.name }}</a>
  </li>
  }
</ul>

<a routerLink="user">Go to User page</a>

<hr>

<a [routerLink]="['user',{name:'ashan withana'}]">Go to User page</a>

<hr>

<button (click)="goUser()">go to user page from button</button>

<hr>

<a routerLink="user">Go to profile from route</a>

{{num | currency:'INR'}}

<h1>Reuse Component</h1>
  @for (user of users; track user) {
    <div>
      <app-user [user]="user"></app-user>
       <!-- {{user}} -->
    </div>
  }

